#card {
    margin-left: 50px;
    display: inline-block;
    vertical-align: auto;
    padding-block: 10px;
    width: auto;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
    max-height: 250;
}

h6 {
    width: 250px;
    text-align: center;
    color: green;
}

.favorite-btn{
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

