.search-btn .search-input {
    display: inline-block;
    height: auto;
    width: auto;

}

.search-btn {
    margin-top: 25px;
}

.search-input {
    margin-top: 25px;
    margin-left: 25px;
}

h1, h6{
    color: white;
}


